


<div class="row">
	<div class="col-lg-12">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="My Products">
				<input type="text" placeholder="Search" class="form-control input-sm" />
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr><th class="text-center">
         
           
    <input type="checkbox" id="select-all">  
           
              </th><th>Products</th><th>Type</th><th>Description</th></tr>
						</thead>
						<tbody>
							<tr>
              <td class="text-center">
                
                       
          <input type="checkbox" id="check-me">  
            
      
              </td>

              <td>Leather Handbag</td><td>Couture</td><td>Italian craftmanship, using the highest quality leather material. Artisan of Florence. One of a kind</td></tr>

							<tr><td class="text-center">
         
                 <input type="checkbox" id="check-me">  
              </td>
              <td>Californian Denim Shirt</td><td>Streetwear</td><td>Classic and loose fit design made with soft denim fabric. 100% cotton. Machine Wash. </td></tr>

							<tr><td class="text-center">
               <input type="checkbox" id="check-me">  

              </td>
              <td>Circle Design Shirt</td><td>Summer</td><td>Crew neck Men's T-shirt. Circle design in the center. 100% cotton</td></tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>
</div>



<div class="row">
	<div class="col-lg-12">
   		<rd-widget>
      
   			<rd-widget-header icon="fa-plus" title="Add Products" ng-model="collapsed" ng-click="collapsed=!collapsed" class="rd-widget-header">
   	
   			</rd-widget-header>

   			<rd-widget-body ng-show="collapsed">
   			<div class="panel-body">

          <!-- Standar Form -->
          <h4>Select files from your computer</h4>
          <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
            <div class="form-inline">
              <div class="form-group">
                <input type="file" name="files[]" id="js-upload-files" multiple="">
              </div>
              <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
            </div>
          </form>

          <!-- Drop Zone -->
         <hr>
          <div class="upload-drop-zone" id="drop-zone">
            Just drag and drop files here
          </div>

          <!-- Progress Bar -->
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>

          <!-- Upload Finished -->
          <div class="js-upload-finished">
            <h3>Processed files</h3>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
              <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-02.jpg</a>
            </div>
          </div>
        </div>
   			</rd-widget-body>
   		</rd-widget>
	</div>

 <!--  <div class="row">

	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-cog fa-spin" title="Loading Directive">
				<a href="http://tobiasahlin.com/spinkit/" target="_blank">SpinKit</a>
			</rd-widget-header>
			<rd-widget-body>
				<rd-loading></rd-loading>
			</rd-widget-body>
		</rd-widget>
	</div>
	</div> -->
